#commerce-bradesco-redirect-form #edit-submit {
  background: transparent url ('/images/logo_bradesco_ce.png') no-repeat;
}

#edit-submit {
  background: transparent url ('/images/logo_bradesco_ce.png') no-repeat;
}
